<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!--[if lt IE 9]>
    <script src="http://html5.shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>Todo App</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h1>Todo app</h1>
      </div>

      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <%= render_breadcrumbs %>
          </li>
        </ol>
      </nav>

      <%= flash_messages %>

      <div class="row">
        <div class="col-md-12">
          <%= yield %>
        </div>
      </div>
    </div>

    <footer class="footer">
      <p>2015</p>
    </footer>
  </body>
</html>
