<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!--[if lt IE 9]>
    <script src="http://html5.shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>Todo App</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h1>Todo app</h1>
        <nav>
          <ul>
            <li><%= link_to 'Projects', projects_path %></li>
          </ul>
        </nav>
      </div>

      <p id="notice"><%= notice %></p>

      <div class="row">
        <div class="col-md-12">
          <%= yield %>
        </div>
      </div>

      <footer>
        <p>2015</p>
      </footer>
    </div>
  </body>
</html>
